<% layout('./layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    <%= campground.title %>
                </h5>
                <p class="card-text">
                    <%= campground.description %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <i class="bi bi-map text-muted">
                        <%= campground.location %>
                    </i>
                </li>
                <li class="list-group-item">$<%= campground.price %>/Night</li>
                <li class="list-group-item">Owned by <%= campground.owner.username%></li>
            </ul>

            <!-- This div serves as the submit buttons for edit/delete campground -->
            <% if (currentUser && campground.owner.equals(currentUser._id)) {%>
            <div class="card-body">
                <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button href="#" class="card-link btn btn-danger">Delete</button>
                </form>
            </div>
            <%}%>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3">
            <h5 class="card-header mb-3">Leave a review</h5>
            <div class="card-body">
                <form action="/campgrounds/<%= campground._id %>/reviews" class="needs-validation" method="POST"
                      novalidate>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating: </label>
                        <input type="range" class="form-range" name="review[rating]" min="1" max="5" id="rating">
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input name="review[author]" id="author" type="text" class="form-control" required></input>
                        <div class="valid-feedback">Looks valid!</div>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Review</label>
                        <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control"
                                  required></textarea>
                        <div class="valid-feedback">Looks valid!</div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <% for( review of campground.reviews ) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>
                                <%= review.body %>
                            </p>
                            <footer class="blockquote-footer">
                                <%= review.rating %> Stars<cite title="Source Title">
                                    <%= review.author %>
                                </cite>
                            </footer>
                        </blockquote>
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                              method="POST">
                            <button class="btn btn-danger">Delete Review</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>

    </div>
</div>